HR { height:1px; padding:0px; margin:5px 0px 3px 0px; border:0px solid #cccccc; color:#ccc; }

DIV.search_input INPUT[type=button] { margin-top:0px; padding-top:0px; }
DIV.search_input INPUT.search_field { margin-top:0px; padding-top:0px; padding-bottom:1px; }

/* --- FIND DOCTORS ---------------------- */
FORM#frmFindDoctors INPUT.radio { margin-top:0px; margin-bottom:-2px; }
