<!-- show master table info - start -->
<table><tr><td width=20>&nbsp;</td><td><p><b><font color=#FCFAEA>Master table: [Tasks]</font></b></p></td></tr></table>

<TABLE WIDTH=95% CELLPADDING=4 CELLSPACING=1 BORDER=0 align=center style="border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>task</td>
<td>price</td>
<td>taskdetails</td>
<td>Color</td>
<td>picture</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$showmaster_Category}
</td>
<td>
{$showmaster_price}
</td>
<td>
{$showmaster_taskdetails}
</td>
<td>
{$showmaster_Color}
</td>
<td>
{$showmaster_picture}
</td>
</tr>
		
</table><br>
<!-- show master table info - end -->
