<!-- show master table info - start -->
<table><tr><td width=20>&nbsp;</td><td><p><b><font color=#FCFAEA>Master table: [Customers]</font></b></p></td></tr></table>

<TABLE WIDTH=95% CELLPADDING=4 CELLSPACING=1 BORDER=0 align=center style="border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>name</td>
<td>contact</td>
<td>telephones</td>
<td>postinfo</td>
<td>customerdetails</td>
<td>email</td>
<td>username</td>
<td>password</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$showmaster_name}
</td>
<td>
{$showmaster_contact}
</td>
<td>
{$showmaster_telephones}
</td>
<td>
{$showmaster_postinfo}
</td>
<td>
{$showmaster_customerdetails}
</td>
<td>
{$showmaster_email}
</td>
<td>
{$showmaster_username}
</td>
<td>
{$showmaster_password}
</td>
</tr>
		
</table><br>
<!-- show master table info - end -->
