<p>Master table: [Customers]</p>

<table border=0 width=100% CELLPADDING=3 CELLSPACING=1>
<!-- header -->
<tr class="blackshade" valign="top">
<td>idcustomer</td>
<td>name</td>
<td>contact</td>
<td>telephones</td>
<td>postinfo</td>
<td>customerdetails</td>
<td>username</td>
<td>password</td>
<td>email</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$showmaster_idcustomer}
</td>
<td>
{$showmaster_name}
</td>
<td>
{$showmaster_contact}
</td>
<td>
{$showmaster_telephones}
</td>
<td>
{$showmaster_postinfo}
</td>
<td>
{$showmaster_customerdetails}
</td>
<td>
{$showmaster_username}
</td>
<td>
{$showmaster_password}
</td>
<td>
{$showmaster_email}
</td>
</tr>

</table>
