<html>
<head>
<title>Weekly</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
</head>
{include_if_exists file="include/header.php"}
{doevent name="PrintOnLoad"}
	
	
<h1>Weekly</h1>
<table align="center" width="100%" border="0" cellpadding=0 cellspacing=0>
<tr>
<td>
{if $row001Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row001Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row001Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
<tr>
<td>
{if $row002Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row002Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row002Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
<tr>
<td>
{if $row003Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row003Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row003Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
<tr>
<td>
{if $row004Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row004Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row004Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
<tr>
<td>
{if $row005Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row005Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row005Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
<tr>
<td>
{if $row006Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row006Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row006Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
<tr>
<td>
{if $row007Date_value!=""}
<table height=100 width=100% border=0 cellpadding=3 cellspacing=0 style="border:1px solid black">
<tr><td height=20 align=right style="border-bottom:1px solid black">
<table width=100% border=0 cellpadding=0 cellspacing=0>
<tr>
<td align=left>&nbsp;</td>
<td align=right>
<b>{$row007Date_value}</b>
</a>
</td></tr></table>
</td></tr>
<tr><td align=left valign=top">
{$row007Day_value}
</td></tr></table>
<tr><td height=5></td></tr>
{/if}
</td>
</tr>
</td>
</tr>
</table>
{include_if_exists file="include/footer.php"}
</body>

</html>